.navbar-blog{
	padding-left: 15px;
}

.navbar-blog>a:before{
	content: ">";
}
.navbar-blog .form-group{
	float:left;
	margin-right: 15px;
}

.navbar-blog .navbar-form{
	/* Original mt/mb = 8px */
	margin: 0 -15px; 
}

/* End Navbar */

/*Breadcrumbs*/
.breadcrumb{
	margin-bottom: 0;
	background: none;
	margin-top: 10px;
}

.hr-breadcrumbs{
	margin-top: 0;
	margin-bottom: 0;
}

/* Content */

.page-header{
	margin-top: 20px;
	border-bottom: 1px solid rgba(33,95,0, 0.2);
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.navbar-blog{
		padding-left: 0;
	}

	.navbar-blog>a:before{
		content: "";
	}

	.navbar-blog-form{
		margin-left: 15px;
	}

	.navbar-blog .navbar-form{
		margin: 8px -15px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }