.navbar-blog{
	padding-left: 15px;
}

.navbar-blog>a:before{
	content: ">";
}
.navbar-blog .form-group{
	float:left;
	margin-right: 15px;
}

.navbar-blog .navbar-form{
	/* Original mt/mb = 8px */
	margin: 0 -15px; 
	border: none;
	
}

.navbar-inverse .navbar-nav > li.navbar-blog > a{
	color: #212121;
}

.navbar-inverse .navbar-nav > li.navbar-blog:hover{
	background: #4CAF50;
}

/* End Navbar */

/*Breadcrumbs*/
.breadcrumb{
	margin-bottom: 0;
	background: none;
	margin-top: 10px;
}

.hr-breadcrumbs{
	margin-top: 0;
	margin-bottom: 0;
}

/* Content */

.page-header{
	margin-top: 20px;
	border-bottom: 1px solid rgba(33,95,0, 0.2);
}


.btn-primary, .btn-default{
	  background: #4CAF50;
	  border: none;
	  color: #212121;

}

.navbar-inverse .navbar-nav > li.navbar-blog-form:hover{
	background: #FF9800;
}

.btn-primary:hover, .btn-default:hover{
	background: #FF9800;
	color: #757575;
	transition: 0.2s all;
}

.search .form-group{
	padding: 0px 10px;
}

.label-info{
	background: #FF9800;
	margin-left: 10px;
}

.list-group-item{
	border-color: #BDBDBD;
}

ul.archives-entries-tree, ul.tag-cloud{
	color: #BDBDBD;
}

.entries-calendar, .no-entries-calendar{
	margin: auto;
	border-spacing: 4px;
	border-collapse: separate;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.navbar-blog{
		padding-left: 0;
	}

	li.navbar-blog > a{
		padding: 15px 5px;
	}

	.navbar-blog>a:before{
		content: "";
	}

	.navbar-blog-form{
		margin-left: 15px;
	}

	.navbar-blog .navbar-form{
		margin: 8px -15px;
	}

	.navbar-form .form-control{
		width: 150px;
		
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	.navbar-form .form-control{
		width: auto;
		
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }