.person-row{
	margin-bottom: 10px;
}

.hr-crew{
	border-color: rgba(255,255,255, 0.4);
}

img{
   padding:5px;
   border:1px solid rgba(0,0,0, 1);
   background-color:#fff;
   border-radius: 25%;
}

blockquote footer{
	color: #FFF;
}



/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.person-row{
		margin-bottom: 20px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }