html{
	position: relative;
}

html,body{
	min-height: 100%;
}


body{
    padding-bottom: 50px;
	
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Reem Kufi', sans-serif;
	/*font-family: 'Fira Sans', sans-serif;*/


/* background: #e4e4d9; /* fallback for old browsers *
background: -webkit-linear-gradient(to top, #215f00 , #e4e4d9); /* Chrome 10-25, Safari 5.1-6 *
background: linear-gradient(to top, #215f00 , #e4e4d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 


background: #FFE0B2; 

}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

a{
	color: #4CAF50;
}

a:hover{
	color: #FF9800;
	text-decoration: none;
	transition: 0.2s all;

}

hr{
	border-color: #BDBDBD;
	/*border-color: rgb(255,255,255);*/
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	border-color: #BDBDBD;
}

.navbar-inverse .navbar-toggle{
	border: none;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
	background: #4CAF50;
}
.nav > li > a.nav-link{
	padding: 5px 10px;
}

.navbar-inverse .navbar-brand{
	padding: 16px;
	color: #212121;
}

.navbar-inverse{
		border: none;
}

.navbar-nav{
	margin: 0px -15px;
}

.main-navbar{
	background: #FF9800;
	/*box-shadow: 0 2px 5px 1px;*/
	box-shadow: 0 3px 10px rgba(0,0,0,0.23);
}

i.navbar-icon, .nav-link>span{
	line-height: 24px;
	display: inline-block;
	vertical-align: middle;
}

.nav-link>span{
	padding-left: 10px;
}




.main-navbar .navbar-nav>li.active>.nav-link{
		color: #212121;
		background: #4CAF50;
}

.main-navbar .navbar-nav>li>.nav-link{
	border-bottom: 2px solid rgba(0,0,0,0);
	color: #212121;

}


.main-navbar .navbar-nav>li>.nav-link:hover{
	border-bottom: 2px solid #4CAF50;
	background: #4CAF50;
	color: #212121;
	transition: 0.3s all;
}



.container-content{
	position: relative;
	margin-top: 52px;
	background: #FFF;
	/*background: rgba(255, 255, 255, 0.5);*/
	box-shadow: 0 3px 10px rgba(0,0,0,0.23)
}



.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: #FF9800;
	box-shadow: -10px 3px -10px rgba(0,0,0,0.23);
	/*border-top: 1px solid #4CAF50;*/

}



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.navbar-nav{
		margin: 0;
	}

	a.nav-link{
		text-align: center;
	}


.nav-link>span{
	padding-left: 0;
}

	i.navbar-icon, .nav-link>span{
	line-height: 1;
	display: block;
	vertical-align: middle;
}

	.navbar-icon{
	display: block;
}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.container-content:before{
  	  display: inline-block;
	  box-shadow: -15px 0 5px -15px inset rgba(0,0,0,0.23);
	  content: " ";
	  height: 100%;
	  left: -15px;
	  position: absolute;
	  top: 0;
	  width: 15px;
	}

	.container-content:after{
		display: inline-block;	
	  box-shadow: 15px 0 5px -15px inset rgba(0,0,0,0.23);
	  content: " ";
	  height: 100%;
	  right: -15px;
	  position: absolute;
	  top: 0;
	  width: 15px;
	}

	.container-content{
		background: rgba(255, 255, 255, 0.7);
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }