{% extends "base.html" %}

{% block extrastyle %}
{% load staticfiles %}
{# {{ block.super }} #}
{# PhotoSwipee CSS #}
<link rel="stylesheet" type="text/css" href="{% static 'PhotoSwipe/photoswipe.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'PhotoSwipe/default-skin/default-skin.css' %}">
{# End PSWP CSS #}
{% endblock extrastyle %}

{% block title %}
	{{ block.super }}{{ gallery.title }}
{% endblock title %}

{% block content_title %}
	<a href="{% url 'galleries:gallery_list' %}">Photos</a> > {{ gallery.title }}
{% endblock content_title %}

{% block content %}
<div class="container">
	<div class="gallery">
		{% for photo in gallery.photo_set.all %}			    
			<figure>
				<img class="pswp-thumb" src="{{ MEDIA_URL }}{{photo.file_thumbnail}}" alt="{{ photo.alt_text }}" title="{{ photo.get_html_title }}" data-index-number="{{forloop.counter0}}" data-size="{{ photo.base_width }}x{{ photo.base_height }}" data-url="{{ photo.file }}" data-url-small="{{ photo.file_small }}">
				{% if photo.caption %}
					<figcaption>{{ photo.caption }}</figcaption>
				{% endif %}
			</figure>
		{% endfor %}
	</div>
		

	<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
</div>
{% endblock content %}


{% block extrascript %}
{{ block.super }}

{# PhotoSwipe Gallery #}
<script src="{% static 'PhotoSwipe/photoswipe.min.js' %}"></script>
<script src="{% static 'PhotoSwipe/photoswipe-ui-default.min.js' %}"></script>
<script type="text/javascript">
	var initPhotoSwipeFromDOM  = function(gallerySelector) {
		var parseThumbnailElements = function(el) {

			//Parse the data from DOM Elements
			var items = [],
			size,
			linkImg,
			item;
			//Loop over all figure elements to create slide items
			var fig_array = $('figure');
			for(var i = 0; i < fig_array.length; i++){
				var img = $('figure>img').get(i);
				

				size = $(img).data('size').split('x');
				linkImg = '{{ MEDIA_URL }}' + $(img).data('url');
				linkSmImg = '{{ MEDIA_URL }}' + $(img).data('url-small');
				item = {

					originalImage: {
						//slide for normal sized image
						src: linkImg,
						w: parseInt(size[0], 10),
						h: parseInt(size[1], 10),
						msrc: $(img).attr("src")
					},

					smallImage: {
						src: linkSmImg,
						w: parseInt(size[0], 10)/2,
						h: parseInt(size[1], 10)/2,
						msrc: $(img).attr("src")
					}
				};

				var caption = $('figure>figcaption').get(i);
				if(caption){
					item.title = $(caption).text();
				}

				items.push(item);
			}

			return items;
		};  

		var openPhotoSwipe = function(index, galleryElement, disableAnimation, fromURL) {
			var pswpElement = document.querySelectorAll('.pswp')[0],
			gallery,
			options,
			items;

			items = parseThumbnailElements(galleryElement);

			//Define options if needed 
			options = {};
			options.index = index;
			gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);

			var realViewportWidth,
				useLargeImages = false,
				firstResize = true,
				imgSrcWillChange;

			gallery.listen('beforeResize', function(){
				// gallery.viewportSize.x - width of PhotoSwipe viewport
			    // gallery.viewportSize.y - height of PhotoSwipe viewport
			    // window.devicePixelRatio - ratio between physical pixels and device independent pixels (Number)
			    //                          1 (regular display), 2 (@2x, retina) ...
				//Calculate real pixels when size changes
				realViewportWidth = gallery.viewportSize.x * window.devicePixelRatio;

				//Switch image dynamically on window resize :
				//check if images need to be changed
				if(useLargeImages && realViewportWidth < 920) {
					useLargeImages = false;
					imgSrcWillChange = true;
				} else if (!useLargeImages && realViewportWidth >= 920){
					useLargeImages = true;
					imgSrcWillChange = true;
				}

				//invalidate items only when source is changed and not first update
				if(imgSrcWillChange && !firstResize){
					//set a flag on slides in DOM to force update of image.
					gallery.invalidateCurrItems();
				}

				if(firstResize){
					firstResize = false;
				}
				console.log(realViewportWidth);
				imgSrcWillChange = false;

			});

			//gettingData fires each time PSWP retrieves img source and size.
			gallery.listen('gettingData', function(index, item){
				//Set source & size based on width.

				if(useLargeImages){
					item.src = item.originalImage.src;
					item.h = item.originalImage.h;
					item.w = item.originalImage.w;	
				} else {
					item.src = item.smallImage.src;
					item.h = item.smallImage.h;
					item.w = item.smallImage.w;
				}


				//item.src, .w and .h must have valid values !! 
				//Care, listener fires often. 
			});

			gallery.init();
		};

		//Bind events to thumbnails
		$('.pswp-thumb').click(function(){
			var index  = $(this).data('index-number');
			if(index >= 0) {
				console.log(index);
	            openPhotoSwipe( index, $('.gallery'));
	        }
			
		
		});

	};

	$(document).ready(initPhotoSwipeFromDOM('.gallery'));

</script>
{# End Photoswipe Gallery #}

{% endblock extrascript %}
