{% extends "travelblog:travelblog/base.html" %}

{% block extrastyle %}
	
{% endblock extrastyle %}

{% block title %}
	{{ block.super }} Erreur 400 
{% endblock title %}

{% block content_title %}Erreur 400{% endblock content_title %}

{% block base_content %}
	<div class="container">
		<div class="error-message col-xs-12">
			<p>Nous n'avons pas compris votre requete !</p>
			<p>Voici quelques liens utiles :

			</p>
			<ul>
					<li><a href="{% url 'index' %}">Accueil du Site</a></li>
					<li><a href="/blog">Le Blog</a></li>
				</ul>
		</div>
	</div>
{% endblock base_content %}