{% extends "travelblog:travelblog/base.html" %}

{% block extrastyle %}
	
{% endblock extrastyle %}

{% block title %}
	{{ block.super }} Erreur 404 
{% endblock title %}

{% block content_title %}Erreur 404{% endblock content_title %}

{% block base_content %}
	<div class="container">
		<div class="error-message col-xs-12">
			<p>La page que vous cherchez est perdue au fin fond de la forêt amazonienne, ou bien n'existe tout simplement pas !</p>
			<p>Pour que vous ne vous égariez pas en essayant de la trouver, voici quelques liens utiles :
				</p>
				<ul>
					<li><a href="{% url 'index' %}">Accueil du Site</a></li>
					<li><a href="/blog">Le Blog</a></li>
				</ul>
		</div>
	</div>
{% endblock base_content %}