{% extends "travelblog/base.html" %}
{% load static %}
{% block title %}
	{{ block.super }} Le Crew
{% endblock title %}

{% block meta %}{% endblock meta %}

{% block extrastyle %}
	<link rel="stylesheet" href="{% static "css/crew.css" %}">
{% endblock extrastyle %}

{% block content_title %}
	Le Crew
{% endblock content_title %}

{% block base_content %}
<div id="content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="row person-row">
		<div class="photo col-xs-8 col-sm-4 col-md-3 col-xs-offset-2 col-sm-offset-0 col-lg-3"><img src="{% static "img/emmanuel.jpg" %}" class="img-responsive" alt=""></span></div>
		<div class="presentation col-xs-12 col-sm-8 col-md-9 col-lg-9">
			<div class="basic-info">
				<h2 class="name text-center">Emmanuel <em>"Durandal"</em></h2>
				<blockquote class="blockquote-reverse">
				<p>La vie m'a dit ne te rends pas, ton âme ne se vend pas, aime tout ce qui vit, et tout ce qui vit te le rendra. </p>
				<footer>Keny Arkana, <cite title="Tout tourne autour du soleil">Tout tourne autour du soleil</cite></footer>
				</blockquote>

			</div>
			<div class="description">
				<p>Moi, c'est Manu. Un peu fou, un peu doux, un peu gentil, un peu de tout ce que l'on met dans une tarte d'amour. Baroudeur des idées, crapahuteurs des envies, voyageur des pensées, j'essaye du mieux possible de créer un chemin, mon chemin. Il est fait de rencontres, de discussions, d'échanges, de partages, d'images, de nuages, d'illusions sauvages et de moments pas très sages. 

				</p>
				<p>
					J'aime et j'aime et j'aime encore. J'aime l'humain et ses multiples desseins, j'aime le naturel et ses voluptés insensés, j'aime arpenter notre société pour en sortir la générosité et sa bonté oublié. Mon chemin est celui de l'autre, quand l'autre croisera toujours mon chemin. L'humain est au centre de ce cœur qui permet à tout à chacun de vivre sa paix. Et c'est ce vers quoi je tends, l'humanité et ses différentes facettes de possibilités.
				</p>
			</div>
		</div>
	</div>
	<hr class="hr-crew">
	<div class="row person-row">
		<div class="photo col-xs-8 col-sm-4 col-md-3 col-lg-3 col-xs-offset-2 col-sm-offset-0 col-sm-push-8 col-md-push-9"><img src="{% static "img/guillaume.jpg" %}" class="img-responsive" alt=""></div>
		<div class="presentation col-xs-12 col-sm-8 col-md-9 col-lg-9 col-sm-offset-0 col-sm-pull-4 col-md-pull-3">
			<div class="basic-info">
			<h2 class="name text-center">Guillaume <em>""</em></h2>
				<blockquote class="blockquote">
				<p>La vie m'a dit ne te rends pas, ton âme ne se vend pas, aime tout ce qui vit, et tout ce qui vit te le rendra. </p>
				<footer>Keny Arkana, <cite title="Tout tourne autour du soleil">Tout tourne autour du soleil</cite></footer>
				</blockquote>
			</div>
			<div class="description">
			<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit architecto corporis eum officia adipisci, labore magnam. Excepturi provident debitis a deleniti, atque iure in mollitia officia sunt, ea saepe suscipit.
			</p>
			</div>
		</div>
	</div>
	<hr class="hr-crew">
	<div class="row person-row">
		<div class="photo col-xs-8 col-sm-4 col-md-3 col-xs-offset-2 col-sm-offset-0 col-lg-3"><img src="{% static "img/pablo.jpg" %}" class="img-responsive" alt=""></span></div>
		<div class="presentation col-xs-12 col-sm-8 col-md-9 col-lg-9">
			<div class="basic-info"><h2 class="name text-center">Pablo <em>""</em></h2>
				<blockquote class="blockquote-reverse">
				<p>La vie m'a dit ne te rends pas, ton âme ne se vend pas, aime tout ce qui vit, et tout ce qui vit te le rendra. </p>
				<footer>Keny Arkana, <cite title="Tout tourne autour du soleil">Tout tourne autour du soleil</cite></footer>
				</blockquote></div>
			<div class="description">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem delectus amet rerum consequatur, nihil, consequuntur cupiditate itaque maxime, mollitia esse quae quaerat voluptas eius, ipsa inventore. Recusandae odit veritatis accusantium.
			</p>
			</div>
		</div>
	</div>
	<hr class="hr-crew">
	<div class="row person-row">
		<div class="photo col-xs-8 col-sm-4 col-md-3 col-lg-3 col-xs-offset-2 col-sm-offset-0 col-sm-push-8 col-md-push-9"><img src="{% static "img/simon.jpg" %}" class="img-responsive" alt=""></div>
		<div class="presentation col-xs-12 col-sm-8 col-md-9 col-lg-9 col-sm-offset-0 col-sm-pull-4 col-md-pull-3">
			<div class="basic-info">
			<h2 class="name text-center">Simon<em>""</em></h2>
				<blockquote class="blockquote">
				<p>La vie m'a dit ne te rends pas, ton âme ne se vend pas, aime tout ce qui vit, et tout ce qui vit te le rendra. </p>
				<footer>Keny Arkana, <cite title="Tout tourne autour du soleil">Tout tourne autour du soleil</cite></footer>
				</blockquote></div>
			<div class="description">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias officia, eum id deleniti debitis quam consectetur harum, porro in quaerat facere perferendis deserunt ut voluptates quis. Quos, vitae, necessitatibus. Placeat!</p>
			</div>
		</div>
	</div>
</div>
	
{% endblock base_content %}

{% block extrascript %}
	
{% endblock extrascript %}
