{% extends "travelblog/base.html" %}
{% load static %}
{% block title %}
	{{ block.super }} Le Crew
{% endblock title %}

{% block meta %}{% endblock meta %}

{% block extrastyle %}
	<link rel="stylesheet" href="{% static "css/crew.css" %}">
{% endblock extrastyle %}

{% block content_title %}
	Le Crew
{% endblock content_title %}

{% block base_content %}
<div id="content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="row person-row">
		<div class="photo col-xs-8 col-sm-4 col-md-3 col-xs-offset-2 col-sm-offset-0 col-lg-3"><img src="{% static "img/emmanuel.jpg" %}" class="img-responsive" alt=""></span></div>
		<div class="presentation col-xs-12 col-sm-8 col-md-9 col-lg-9">
			<div class="basic-info">
				<h2 class="name text-center">Emmanuel</h2>
				<blockquote class="blockquote-reverse">
				<p>La vie m'a dit ne te rends pas, ton âme ne se vend pas, aime tout ce qui vit, et tout ce qui vit te le rendra. </p>
				<footer>Keny Arkana, <cite title="Tout tourne autour du soleil">Tout tourne autour du soleil</cite></footer>
				</blockquote>

			</div>
			<div class="description">
				<p>Moi, c'est Manu. Un peu fou, un peu doux, un peu gentil, un peu de tout ce que l'on met dans une tarte d'amour. Baroudeur des idées, crapahuteurs des envies, voyageur des pensées, j'essaye du mieux possible de créer un chemin, mon chemin. Il est fait de rencontres, de discussions, d'échanges, de partages, d'images, de nuages, d'illusions sauvages et de moments pas très sages. 

				</p>
				<p>
					J'aime et j'aime et j'aime encore. J'aime l'humain et ses multiples desseins, j'aime le naturel et ses voluptés insensés, j'aime arpenter notre société pour en sortir la générosité et sa bonté oublié. Mon chemin est celui de l'autre, quand l'autre croisera toujours mon chemin. L'humain est au centre de ce cœur qui permet à tout à chacun de vivre sa paix. Et c'est ce vers quoi je tends, l'humanité et ses différentes facettes de possibilités.
				</p>
			</div>
		</div>
	</div>
	<hr class="hr-crew">
	<div class="row person-row">
		<div class="photo col-xs-8 col-sm-4 col-md-3 col-lg-3 col-xs-offset-2 col-sm-offset-0 col-sm-push-8 col-md-push-9"><img src="{% static "img/guillaume.jpg" %}" class="img-responsive" alt=""></div>
		<div class="presentation col-xs-12 col-sm-8 col-md-9 col-lg-9 col-sm-offset-0 col-sm-pull-4 col-md-pull-3">
			<div class="basic-info">
			<h2 class="name text-center">Guillaume</h2>
				<blockquote class="blockquote">
				<p>Insanity: doing the same thing over and over again and expecting different results</p>
				<footer>Albert Einstein</footer>
				</blockquote>
			</div>
			<div class="description">
			<p>
			Jeune rebelle islamo-gauchiste et ardent défenseur de Gaïa, je suis né de la fusion du cinéma, d'une famille de gauche et d'amis désaxés.</p>
			<p>Tombé dans le monde des frères lumières tout petit je suis un melting pot de tout un tas de personnages, allant de Jim Stark à Michael Corleone en passant par Blondin. Cette passion alimente ma vie et me permet d'affirmer mon caractère coloré et mes positions politiques. Toutes ces appétences m'ont amené à aimer mon prochain et à vouloir apprendre de lui encore et encore.</p>
			<p> Ce voyage est la consécration d'un rêve et le commencement de nombreux autres ! Durant le voyage je m'efforcerais de garder en tête cette citation attribuée à Gandhi : "<em>C'est une erreur de croire nécessairement faux ce qu'on ne comprend pas."</em>
			</p>
			</div>
		</div>
	</div>
	<hr class="hr-crew">
	<div class="row person-row">
		<div class="photo col-xs-8 col-sm-4 col-md-3 col-xs-offset-2 col-sm-offset-0 col-lg-3"><img src="{% static "img/pablo.jpg" %}" class="img-responsive" alt=""></span></div>
		<div class="presentation col-xs-12 col-sm-8 col-md-9 col-lg-9">
			<div class="basic-info"><h2 class="name text-center">Pablo</h2>
				<blockquote class="blockquote-reverse">
				<p>Sois le changement que tu veux voir en ce monde.</p>
				<footer>Mahatma Gandhi</footer>
				</blockquote></div>
			<div class="description">
			<p>Apprenti vigneron aux intérêts multiples (mais il peut y en avoir des choses dans un vin !), je m'intéresse plus généralement à toute l'agriculture et à l'environnement (raisonnablement indissociables je pense).</p>
			<p>Toujours attentif à la nature et les hommes, je tente de respecter au mieux les équilibres entre chaque, persuadé que l'on peut apprendre de tout et de tous (lorsque l'on fait l'effort de se comprendre et se respecter) pour vivre en harmonie et considérer cette diversité comme une richesse plutôt qu'une limite.
			</p>
			</div>
		</div>
	</div>
	<hr class="hr-crew">
	<div class="row person-row">
		<div class="photo col-xs-8 col-sm-4 col-md-3 col-lg-3 col-xs-offset-2 col-sm-offset-0 col-sm-push-8 col-md-push-9"><img src="{% static "img/simon.jpeg" %}" class="img-responsive" alt=""></div>
		<div class="presentation col-xs-12 col-sm-8 col-md-9 col-lg-9 col-sm-offset-0 col-sm-pull-4 col-md-pull-3">
			<div class="basic-info">
			<h2 class="name text-center">Simon</h2>
				<blockquote class="blockquote">
				<p>Pense tes actes et acte tes pensées, là se trouve la sagesse.</p>
				<footer>Anonyme</footer>
				</blockquote></div>
			<div class="description">
			<p>Je m'appelle Simon. Je n'ai qu'une seule hâte, c'est que ce je vois comme un "rite initiatique" puisse débuter. J'ai désormais fini mes études et j'ai pourtant l'impression qu'il me reste deux ou trois trucs à apprendre. Ce que j'y cherche ? Je ne pourrais pas le dire précisément.</p>
			<p>Mais parlons vrai : si j'y vais, c'est avant tout pour moi. Pour continuer, donc, à me former, rencontrer, voir, découvrir et rencontrer encore, le tout entouré des copains. Je crois qu'on peut résumer tout ça par un mot simple, mais pourtant loin d'être dénué de sens: la Curiosité.</p>
			</div>
		</div>
	</div>
</div>
	
{% endblock base_content %}

{% block extrascript %}
	
{% endblock extrascript %}
