{% extends "travelblog/base.html" %}
{# @TODO Finish this page #}
{% load static %}
{% block title %}
	{{ block.super }} Le Crew
{% endblock title %}

{% block meta %}{% endblock meta %}

{% block extrastyle %}
	<link rel="stylesheet" href="{% static "css/crew.css" %}">
{% endblock extrastyle %}

{% block content_title %}
	Le Crew
{% endblock content_title %}

{% block base_content %}
<div id="content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="row person-row">
		<div class="photo col-xs-8 col-sm-4 col-md-3 col-xs-offset-2 col-sm-offset-0 col-lg-3"><img src="{% static "img/rene_descartes.jpg" %}" class="img-responsive" alt=""></span></div>
		<div class="presentation col-xs-12 col-sm-8 col-md-9 col-lg-9">
			<div class="basic-info">
				<h2 class="name text-center">René <em>"El Philosophe"</em> Descartes</h2>
				<blockquote class="blockquote-reverse">
				<p>Cogito Ergo Sum</p>
				<footer>René Descartes, <cite title="Le Discours de la Méthode">Le Discours de la Méthode</cite></footer>
				</blockquote>

			</div>
			<div class="description">
			<p>Il est considéré comme l’un des fondateurs de la philosophie moderne. Il reste célèbre pour avoir exprimé dans son Discours de la méthode le cogiton — « Je pense, donc je suis » — fondant ainsi le système des sciences sur le sujet connaissant face au monde qu'il se représente. En physique, il a apporté une contribution à l’optique et est considéré comme l'un des fondateurs du mécanisme. En mathématiques, il est à l’origine de la géométrie analytique. Certaines de ses théories ont par la suite été contestées (théorie de l’animal-machine) ou abandonnées (théorie des tourbillons ou des esprits animaux). Sa pensée a pu être rapprochée de la peinture de Nicolas Poussin pour son caractère clair et ordonné. Le cogito marque la naissance de la subjectivité moderne.</p>

			<p>Sa méthode scientifique, exposée à partir de 1628 dans les Règles pour la direction de l'esprit, puis dans le Discours de la méthode en 1637, affirme constamment une rupture par rapport à la scolastique enseignée dans l'Université. Le Discours de la méthode s'ouvre sur une remarque proverbiale « Le bon sens est la chose du monde la mieux partagée » pour insister davantage sur l'importance d'en bien user au moyen d'une méthode qui nous préserve, autant que faire se peut, de l'erreur. Elle se caractérise par sa simplicité et prétend rompre avec les interminables raisonnements scolastiques. Elle s’inspire de la méthode mathématique, cherchant à remplacer la syllogistique aristotélicienne utilisée au Moyen Âge depuis le xiiie siècle.</p>
			</div>
		</div>
	</div>
	<hr class="hr-crew">
	<div class="row person-row">
		<div class="photo col-xs-8 col-sm-4 col-md-3 col-lg-3 col-xs-offset-2 col-sm-offset-0 col-sm-push-8 col-md-push-9"><img src="{% static "img/default_user.jpg" %}" class="img-responsive" alt=""></div>
		<div class="presentation col-xs-12 col-sm-8 col-md-9 col-lg-9 col-sm-offset-0 col-sm-pull-4 col-md-pull-3">
			<div class="basic-info">Test</div>
			<div class="description">Test</div>
		</div>
	</div>
	<hr class="hr-crew">
	<div class="row person-row">
		<div class="photo col-xs-8 col-sm-4 col-md-3 col-xs-offset-2 col-sm-offset-0 col-lg-3"><img src="{% static "img/default_user.jpg" %}" class="img-responsive" alt=""></span></div>
		<div class="presentation col-xs-12 col-sm-8 col-md-9 col-lg-9">
			<div class="basic-info">Test</div>
			<div class="description">Test</div>
		</div>
	</div>
	<hr class="hr-crew">
	<div class="row person-row">
		<div class="photo col-xs-8 col-sm-4 col-md-3 col-lg-3 col-xs-offset-2 col-sm-offset-0 col-sm-push-8 col-md-push-9"><img src="{% static "img/default_user.jpg" %}" class="img-responsive" alt=""></div>
		<div class="presentation col-xs-12 col-sm-8 col-md-9 col-lg-9 col-sm-offset-0 col-sm-pull-4 col-md-pull-3">
			<div class="basic-info">Test</div>
			<div class="description">Test</div>
		</div>
	</div>
</div>
	
{% endblock base_content %}

{% block extrascript %}
	
{% endblock extrascript %}
