{% extends "travelblog/base.html" %}
{% load staticfiles %}
{% block title %}
	{{ block.super }} Accueil
{% endblock title %}
{% block content_title %}
	Chez Guevara
{% endblock content_title %}
{% block base_content %}
<div class="container">
	
	<div class="row">
		 <div class="group-presentation col-xs-12 col-lg-10 col-lg-push-1">
		 	<img src="{% static "img/groupe_3.jpg" %}" alt="Photo du Groupe" class="img-responsive">
		 	<p>
		 		Bourlinguant (comme tout un chacun) sur les chemins de la vie depuis près d'un quart de siècle, nous sommes quatre amis ayant choisi d'octroyer, non pas des vacances, mais de nouvelles perspectives à leur quête de sens existentielle. Indignés par les errements de la société (in)humaine, nous décrions l'individualisme et le protectionnisme, cherchant plutôt à le recréer des liens avec d'autres cultures (humaines, végétales, animales...) et faire converger des luttes (ou du moins expliquer les nôtres et en comprendre de nouvelles).
		 	</p>
		 	<p>
		 		Bien que nos propres motivations respectives divergent dans ce projet d'une année (et même dans la vie en général), nous considérons déjà cette diversité comme enrichissante et avons conscience de mener cette expérience de vie en interne également. Mais que ce soit sur un plan politique, social, environnemental, agricole (ou incandescent), l'Amérique du Sud résonne dans chacun de nos cœurs. Tantôt pour émerveiller et rassurer, tantôt pour impressionner (voire décaler ou agacer), nous proposons de relayer ici nos aventures à travers ce continent déjà foulé par un certain Ernesto, autrement dit, "CheZ Guevara".
		 	</p>
		 	<p>Hasta siempre a todos !</p>
		 </div>
	 </div>
	</div>
</div>
{% endblock base_content %}